## macOS ##
.DS_Store

## LaTeX ##
*.aux
*.bcf
*.dvi
*.fls
# List of Figures
*.lof
*.log
# List of Tables
*.lot
*.pdf
*.ps
*.tex~
# Table of Contents
*.toc

## BibLaTeX ##
# Bibliography
*.bbl

## Biber ##
*.run.xml
# Log File
*.blg

## hyperref ##
*.out

## latexmk ##
*.fdb_latexmk
